<div class="container d-flex" style="margin: 20vh 40vh;">
  <div class="profil">
    <h3> Welcome </h3>
    <p>Profil Name: <%=current_user.name%></p>
    <p>Email: <%=current_user.email%></p>
  </div>

  <div class="reservation">
  <h4>Your reservations</h4>
<% res = Reservation.where("user_id =#{current_user.id}")%>
<ul>
<% res.each do |r|%>
  <li>you have a reservation at
  <%=r.arcade.name%> and the date is
  <%=r.day%>;The price is
  <%=r.arcade.price%></li>
<%end%>
</ul>
</div>

<div class="arcades">
  <h4>Your Arcades</h4>
<% arcades = Arcade.where("owner_id =#{current_user.id}")%>
<ul>
<% arcades.each do |arcade|%>
  <li><%=arcade.name%> </li>
<%end%>
</ul>
</div>
