<div class="arcades-show container col-6">
  <div class=" row justify-content-start col-5 my-5">
    <div class="card-category d-flex">
      <div class="card-photo ">
        <%=avatar_image_tag current_user,class:"img_user avatar"%>
      </div>
      <div class="card-product-infos">
        <span>Profil Name: <%=current_user.name%> <br> </span>
        <span>Email: <%=current_user.email%></span>
      </div>
    </div>
  </div>

  <div class="row justify-content-center my-5">
    <div class="card-category reservation col-5">
      <h4>My Reservations</h4>
      <% res = Reservation.where("user_id =#{current_user.id}")%>
      <ul>
      <% res.each do |r|%>
        <li>
        <%=r.arcade.name%> -
        <%=r.day%> -
        <%=r.arcade.price%> €</li>
      <%end%>
      </ul>
    </div>
  </div>

  <div class="row justify-content-end my-5">
    <div class="card-category arcades col-5">
      <h4>My Arcades</h4>
      <% arcades = Arcade.where("owner_id =#{current_user.id}")%>
      <ul>
      <% arcades.each do |arcade|%>

      <li data-arcade-id="<%= arcade.id %>"><%= link_to arcade.name, arcade_path(arcade) %>
      <% if policy(arcade).destroy? %>
                  <button type="button" class="btn btn-red"> <%= link_to "Delete", arcade_path(arcade),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  remote: true
                   %></button>
                  <% end %>

                  <% if policy(arcade).edit? %>
                  <button type="button" class="btn btn-yellow"><%= link_to "Edit", edit_arcade_path(arcade) %></button>
                  <% end %>

      </li>

      <%end%>
      </ul>
    </div>
  </div>
</div>
