<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to arcades_path, class: "navbar-brand" do %>
  <%= image_tag "blue.png" %>
  <% end %>

        <form action="<%= root_path %>" method="get" class="form-inline">
          <input type="text" name="q" class="form-control" placeholder="City" value="<%= params[:q] %>">
          <input type="float" name="max_price" class="form-control" placeholder="Maximum price" value="<%= params[:max_price] %>">
          <input type="submit" value="Search" class="btn btn-light">
        </form>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <% if user_signed_in? %>
          <%= avatar_image_tag current_user, class: 'avatar', id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Add a Arcade", new_arcade_path, class: "dropdown-item" %>
              <%= link_to "My profil", my_profil_path, class: "dropdown-item" %>
              <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "dropdown-item") %>
            </div>
        <%else%>
          <%= image_tag "mario.jpg", class: 'avatar', id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Add a Arcade", new_arcade_path, class: "dropdown-item" %>
            <%= link_to('Login', new_user_session_path, class: "dropdown-item") %>
          </div>
        <% end %>
      </li>
    </ul>
  </div>
</div>


