<h1>Arcades list</h1>


<% @arcades.each do |arcade| %>
  <h2><%=arcade.name %></h2>
  <p><%=arcade.address %></p>
<<<<<<< HEAD
  <p><%=arcade.price %></p>
=======

>>>>>>> master
  <%= link_to "See More", arcade_path(arcade) %>

<% if policy(arcade).destroy? %>
  <%= link_to "Delete", arcade_path(arcade),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
<% end %>
<% if policy(arcade).edit? %>
  <%= link_to "Edit", edit_arcade_path(arcade) %>
<% end %>
<% end %>

<% if policy(Arcade).create? %>
  <%= link_to "Add a new arcade", new_arcade_path %>
<% end %>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
