  <h1>Arcades list</h1>
<div class="container_cards">

  <div class="card-room col-12 col-sm-8 col-sm-4">
    <% @arcades.each do |arcade| %>
      <div class='card-room-infos'>
        <div class='title_photo'>
          <h2><%=arcade.name %></h2>
          <%= cl_image_tag arcade.photo, height: 200, width: 300, crop: :fill %>
        </div>

        <div class='infos'>
          <p><%=arcade.address %></p>
          <h2 class="card-room-pricing"><%=arcade.price %>€</h2>
        </div>
        <div class='card-room-options'>
          <%= link_to "See More", arcade_path(arcade) %>

          <% if policy(arcade).destroy? %>
          <%= link_to "Delete", arcade_path(arcade),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
          <% end %>

          <% if policy(arcade).edit? %>
          <%= link_to "Edit", edit_arcade_path(arcade) %>
        </div>
          <% end %>
        </div>
    <% end %>
  </div>

  <% if policy(Arcade).create? %>
    <%= link_to "Add a new arcade", new_arcade_path %>
  <% end %>
</div>

