
<div class="container-all">

  <div class="card-room">

      <% @arcades.each do |arcade| %>
        <div class='card-room-infos'>

          <div class='title'>
            <h2><%=arcade.name.upcase %></h2>
            <h4 class="card-room-pricing"><%=arcade.price %>€</h4>
          </div>

          <div class='infos_options'>

            <div class='photo'>
            <%= cl_image_tag arcade.photo, height: 220, width: 260, crop: :fill %>
            </div>

            <div class='infos'>

              <div class='address'>
                <p><%=arcade.address %></p>
              </div>

              <div class='card-room-options'>

                <button type="button" class="btn-blue"><%= link_to "See More >", arcade_path(arcade) %></button>

              </div>

            </div>
          </div>

        </div>
      <% end %>
  </div>
  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAP_API_KEY'] %>">
  </div>
</div>
