<div class="banner" style="background-image: url('<%= cl_image_path @arcade.photo, height: 300, width: 400, crop: :fill,class: "banner-img"%>')">
  <div class="container">
    <h1><%= @arcade.name %></h1>
  </div>
</div>

<div class="card-info">
  <div class="card-show">
    ADDRESS:   <%= @arcade.address %><br>
    PRICE:  <%= @arcade.price %>
  </div>


  <div class="category">
    <%= link_to 'Reserve',  new_arcade_reservation_path(@arcade),class:"btn btn-light"  %>
  </div>
</div>
