<div class="banner" style="background-image: url('<%= cl_image_path @arcade.photo, height: 300, width: 400, crop: :fill,class: "banner-img"%>')">
  <div class="container">
    <h1><%= @arcade.name %></h1>
  </div>
</div>
<div class="container-reviews">
  <div class="cardo">
    <div class="card-show">
      Address :   <%= @arcade.address %><br>
      Price:  <%= @arcade.price %> $<br>
      Capacity:  <%= @arcade.capacity %>
    </div>
    <div class="category" style="margin-bottom:30px">
      <%= link_to 'Reserve',  new_arcade_reservation_path(@arcade),class:"btn btn-light"  %>
    </div>
    <div class="comment" >
      <%= render 'reviews/form', arcade: @arcade, review: @review %>
      </div>


  </div>

  <div id="reviews">


      <% if @arcade.reviews.blank? %>
        Be the first to leave a review for <%= @arcade.name %>
      <% else %>
      <h3>Comments</h3>
      <ul>
        <% @arcade.reviews.each do |review| %>
         <li> <%= render 'reviews/show', review: review %></li>
        <% end %>
      </ul>
      <% end %>

  </div>

</div>
