<div class="banner" style="background-image: url('<%= cl_image_path @arcade.photo, height: 300, width: 400, crop: :fill,class: "banner-img"%>')">
  <div class="container">
    <h1><%= @arcade.name %></h1>
  </div>
</div>

<div class="cardo">
  <div class="card-show">
    ADDRESS:   <%= @arcade.address %><br>
    PRICE:  <%= @arcade.price %>
  </div>


  <div class="category">
    <%= link_to 'Reserve',  new_arcade_reservation_path(@arcade),class:"btn btn-light"  %>
  </div>

  <h2>
    <%= pluralize @arcade.reviews.size, "review" %>
  </h2>

  <div id="reviews">
    <% if @arcade.reviews.blank? %>
      Be the first to leave a review for <%= @arcade.name %>
    <% else %>
      <% @arcade.reviews.each do |review| %>
        <%= render 'reviews/show', review: review %>
      <% end %>
    <% end %>
  </div>
</div>
